/* @media screen and (max-width: 767px) {
} */
@media screen and (max-width: 767px) {
    header .container .bar{
        display: none;
    }
    .home .container{
        flex-direction: column-reverse;
    }
    .home .container .intro{
        width: 100%;
    }
    .home .container .img{
        width: 100%;
    }
    .chefs .container .content{
        flex-direction: column;
    }
    .chefs .container .content .chef{
        width: 100%;
    }
    .all-meals .container .meals{
        flex-direction: column;
    }
    .contact .container .all .midlle{
        flex-direction: column;
    }
    .contact .container .all .midlle .item{
        width: 100%;
    }
    .contact .container .all form input{
        width: 100%;
    }
    footer .container .content{
        flex-direction: column;
    }
  
}
@media screen and (min-width: 768px){
    .chefs .container .content{
        flex-direction: column;
    }
    .home {
    }
    .home .container{
        flex-direction: column-reverse;
    }
    .home .container .intro{
        width: 100%;
    }
    .home .container .img{
        width: 100%;
    }
    .all-meals .container .meals{
        flex-direction: column;
    }
    footer .container .content{
        flex-direction: column;
    }

}
@media screen and (min-width: 992px){
    .chefs .container .content{
        flex-direction: row;
    }
    .home .container{
        flex-direction: row;
    }
    .home .container .img {
        width: 40%;}
        .home .container .intro{
            width: 40%;
        }
        .all-meals .container .meals{
            flex-direction: row;
        }
        footer .container .content{
            flex-direction: row;
        }

}
@media screen and (min-width: 1200px){
    .chefs .container .content{
        flex-direction: row;
    }
    .home .container{
        flex-direction: row;
    }
    .home .container .img {
        width: 40%;}
        .home .container .intro{
            width: 40%;
        }
        .all-meals .container .meals{
            flex-direction: row;
        }
        footer .container .content{
            flex-direction: row;
        }
}